.header {
  height: 100px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  padding: 20px;
  display: inline-block;
  flex: 1;
}

.player {
  margin: auto;
}