.header {
  height: 100px;
  border: 1px solid black;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 20px;
  display: inline-block;
  flex: 1;
}