.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.info {
  width: 50%;
  margin: auto;
  padding-bottom: 35px;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section {
  max-width: 200px;
}

.detail {
  padding-top: 10px;
}