.header {
  height: 150px;
}

.links {
  background-color: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.link {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  flex: 1;
}

.link img {
  height: 100px;
}

.player {
  margin: auto;
}