.player_disable {
  opacity: 0;
}

.player {
  transition: opacity 2s;
  display: flex;
  flex-direction: row;
}

.player_info input {
  margin-left: 10px;  
  margin-right: 10px;
  width: 250px;
}

.playgray {
  color: gray;
}

.player_clock {
  display: inline-block;
}