.container {
  background-color: black;
  transition: opacity 1s;
}

.container_disable {
  opacity: 0;
}

.player {
  display: flex;
  flex-direction: row;
  color: white;
  margin: auto;
  width: 500px;
}

.play {
  width: 50px;
}

.player_info input {
  margin-left: 10px;  
  margin-right: 10px;
  width: 250px;
}

.playgray {
  color: gray;
}

.player_clock {
  display: inline-block;
}